<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book list</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add book</h1>
	<div>
		<form th:object="${book}" th:action="@{save}" action="#" method="post">
			<label for="fname">Title</label> <input type="text" id="fname"
				th:field="*{title}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="lname">Author</label> <input type="text" id="lname"
				th:field="*{author}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="email">Year</label> <input type="text" th:field="*{year}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="email">ISBN</label> <input type="text" th:field="*{isbn}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="email">Price</label> <input type="text"
				th:field="*{price}" />
			<div style="clear: both; display: block; height: 10px;"></div>

			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>