<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book list</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Books</h1>
	<table>
		<thead>
			<tr>
				<th>Author</th>
				<th>Title</th>
				<th>ISBN</th>
				<th>Year</th>


			</tr>
		</thead>

		<tbody>
			<tr th:each="book : ${books}">

				<td th:text="${book.author}"></td>
				<td th:text="${book.title}"></td>
				<td th:text="${book.isbn}"></td>
				<td th:text="${book.year}"></td>
				<td><a href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
				<td><a href="@{/delete/{id}(id=${book.id})}">Edit</a></td>
			</tr>

		</tbody>


	</table>
	<a href="/add">Add Student</a>
</body>
</html>